/* 전체 레이아웃 */
header {
    position: block; /* top에 고정 */
    top: 0;
    width: 100vw;
    /* height: 108px; */
    height: 10vh;
    background-color: #fff;
    border-image: linear-gradient(to right, #e1e857, #004483);
    border-image-slice: 1;
    border-bottom: solid 2px;
    font-size: 24px;
    text-align: center;
    line-height: 10vh;
    color: #707070;
    z-index: 1000;
    
  }

    /* 헤더 영역 */
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255,255,255)
      }
      
      .header-logo {
        display: none;
        align-items: center;
        width : 100%;
        height : 100%;
        margin : 0 auto;
        

      }
      .mobile-title-image-div
      {

        width: 16%;
        height: auto;
      }
      .mobile-title-image
      {
  
        top: 0;
        display:block;
        width:50%;
        height: auto;
        float:right;
        margin-right:0;

      }
      .mobile-title
      {
        display:inline-block;
        top : 0;
        color:rgb(50,50,50);
        width : 80%;
        height : 100%;
        margin-right : 5%;
        font-size: 20px;
        font-weight: bold;
      }
      
      .header-user {
        display: none;
        width:20%;
        text-align: right;
        margin-right : 10px;
        font-size : 11px;
      }
      /* //헤더 영역 */
      






  
  #section {
    display: block;
    height: 800px; /* 임시 높이 */
    margin-bottom: -80px;
    width: 100vw;
    overflow-y:visible;
    overflow-x:hidden;
  }
  
  #section nav {
    width: 100vw;
    height: 120px; 
  }
  
  #section nav #navContents {
    margin: 0 auto;
    width: 12.3438vw;
    font-size: 1.25vw;
    text-align: center;
    line-height: 1500px;
    color: #707070;
  
    /* background-color: #707070; */
    /* border-right: 1px solid #707070; */
  }


  .sidenav .dropdown-btn
  {
    width : 100%;
  }


  #section #contents {
    width: 100%;
    height: auto; /* 유동적 */
    /* background-color: #555; */
  }
  
  #section #contents #contents-container {
    width: 100%;
    height: 100%; /* 유동적 */
    /* background-color: #555; */
  }



  .main_banner_img
  {
    width : 100vw;


      
  }


  .congrat_video_area
  {
    width: 100vw;
   
  }

  #video
  {

      width: 100vw;
      
  }



  #congrat_video_area_title
  {
      font-size: 15px;
      margin-top : 30px;
      width : 100vw;
      text-align: center;
  }

  #congrat_video_area_subtitle
  {

    font-size: 12px;
    margin-top : 20px;
    width : 100vw;
    text-align: center;
    margin-bottom: 30px;

    color: #154483;

  }
  #congrat_video_area_title strong {
    font-weight: bold;
    color: #154483;
  }
  




#section #contents
{
    padding-top : 30px;
    border:1px rgb(157,157,157) solid;
}
#section #contents #contentsHeader #className
{
    font-size: 18px;
    text-align: center;
    color: #154483;
    font-weight: bold;
}
  
  #section #contents #contentsHeader #contentsHeaderInfo {
    display: block;
    text-align: center;
    font-size : 12px;
    justify-content: flex-end;
    margin-top: 20px;
  }

  #projectCount strong
  {
      color:#154483;
      font-weight: bold;
  }
  


  /* // 컨텐츠 헤더 영역 끝 */
  
  /* 컨텐츠 아티클 영역 시작 */
  #section #contents #contentsArticle {
    /* background-color: orange; */
    width: 100%;
    margin-top: 30px;
  }
  
  #section #contents #contentsArticle .article-container {
    /* background-color: blue; */
    flex-direction: row;
    width: 100%;
    margin-bottom: 44px;
  }
  
  #section #contents #contentsArticle .article-container #article {
    display: flex;
    /* background-color: #707070; */
    width: 100%;
    height: 295px;
    border: 1px solid #d8d8d8;
  }
  /* articleImg = 27.2917vw */
  /* articleContents = 698px = 36.3542vw */
  /* articleShow = 293px = 15.2604vw */
  
  #section
    #contents
    #contentsArticle
    .article-container
    #article
    #articleImg
    img {
    /* background-color: #111; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 27.2917vw;
    height: 295px;
  
  }

  #article #articleImg
  {
      width: 30%;
  }

  
  #section
    #contents
    #contentsArticle
    .article-container
    #article
    #articleContents {
    /* background-color: #333; */
    width: 40%;
    height: 295px;
    display: flex;
    flex-direction: column;
  }
  
  #section #contents #contentsArticle .article-container #article #articleShow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    border-left: 1px solid #d8d8d8;
  }
  
  #section
    #contents
    #contentsArticle
    .article-container
    #article
    #articleContents
    #articleContentsTitle {
    height: 37px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    
  }
  
  #section
    #contents
    #contentsArticle
    .article-container
    #article
    #articleContents
    #articleContentsDesc {
    height: 100%;
    margin-top: 8px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    padding-right : 10px;
    
  }
  
  #section
    #contents
    #contentsArticle
    .article-container
    #article
    #articleContents
    #articleContentsLike {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    height: 38px;
    margin-top: 1px;
    margin-left: 1.5104vw;
  }
  
  #leafImg {
    background-image: url(../../assets/image/unlike-button.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #likeCountBtn {
    background-color: transparent;
    border: none;
  }
  
  #likeCount {
    width: 64px;
    height: 27px;
    font-size: 15px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #154483;
    margin-left: 10px;
  }
  
  #groupInfo {
    margin-left: 1.5365vw;
    
  }
  #groupNameLabel {
    width: 90%;
    height: 27px;
    font-family: YDIYGO340;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #154483;
    padding-top : 21px;
  }
  #groupName {
    width: 90%;
    height: 27px;
    font-family: YDIYGO330;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;;
    color: #707070;
    margin-top: 5px;
  }
  #groupMemberLabel {
    width: 90%;
    height: 27px;
    font-family: YDIYGO340;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #154483;
    margin-top: 17px;
  }
  #groupMember {
    width: 90%;
    height: 111px;
    font-family: YDIYGO330;
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    margin-top: 10px;
  }
  /* // 아티클 영역 마무리 */
  
  .article-area {
    display: flex;
    flex-direction: column;
  }
  
  /* 비디오 영역*/
  #showVideoBtn {
    width: 100%;
    height: 36px;
    border: solid 1px #dbdbdb;
    background-color: #154483;
    font-size: 1.0417vw;
    color: #fff;
  }
  
 
  
  .video {
    width: 78.9063vw;
    display: block;
    border: 1px solid #707070;
  }
  /* //비디오 영역 마무리*/
  
  .sidenav {
  
    height: 200px;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 0;
    margin-right:0;
    margin-left:0;
  }
  
  /* 네비바  */
  .sidenav a,
  .dropdown-btn {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
  
  }
  
  .dropdown-btn {
    border-top: solid 0.5px #9d9d9d;
  
    width: 100%;
    height: 18px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: 0.36px;
    text-align: left;
    color: #7d7b7c;
  }
  
  
  
  .sidenav a:hover,
  .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; 
    font-size: 18px; 
    padding-left: 50px;
  }
  
  .dropdown-btn.active {
    background-color: rgb(160, 203, 59);
    color: #fdf8fa;
    font-weight: 500;
  }

  
  
  .dropdown-container {
    display: none;
    background-color: #ffffff;
    color: rgb(21, 67, 131);
    padding-left: 8px;
    padding-right: 0px;
    text-align: left;
  }
  .dropdown-container a {
    width: 100%;
    height: 15px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: 0.36px;
    text-align: center;
    color: #9d9d9d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;

    
  }
  .dropdown-container a:active {
    color: rgb(21, 67, 131);
  }
  .dropdown-container:visited
  {
    color : black;
  }

  
  .dropdown-btn {
    text-align: center;
    height: 40px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 20px;
  }
  
  #section
  {
      margin-bottom:0;
  }
  
  
  /* footer 부분 */
  









  
  .footer{
  
  
    bottom: 0;
  
  
    font-size: 24px;
    text-align: center;
    line-height: 10vh;

    width: 100vw;
    height : 80px;
  }
  
  #footer_divider
  {
    border : none;
    width: 100%;
    height: 2px;
    margin: 0 0 8px;
    background-image: linear-gradient(to bottom, #e1e857, #004483);
  }
  
  #footer_contents
  {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
  }
  #info
  {
    display: flex;
    text-align: center;
    margin : auto;
  
  }
  
  .footer-logo
  {
   display:none;
  
  }
  
  #school_info
  {
    width: 85%;
    height: 101px;
    margin: auto;
    font-size: 12px;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    font-weight: 100;
    letter-spacing: normal;
    color: #7d7b7c;
    
  }